.cabeçalho {
    background-color: rgb(255, 0, 140);
    }

    .cabeçalho-título {
        color:beige
    }

    .cabeçalho-lista {
        color: white
    }

    .cabeçalho-imagem{
        with: 0,5%;
    }