.cabeçalho {
    background-color: rgb(0, 110, 255);
    display:flex;
    padding: 24px 0;
    justify-content: space-around;
    }

    .cabeçalho-título {
        color:beige;
    }

    .cabeçalho-lista {
        color: white;
    }

    .cabeçalho-imagem {
        width:20%;
    }