.cabeçalho {
    background-color: rgb(0, 110, 255);
    }

    .cabeçalho-título {
        color:beige
    }

    .cabeçalho-lista {
        color: white
    }

    .cabeçalho-imagem{
        width: 10%
    }